{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
      {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
      <h1>Lista de Tipo de Documento</h1>  
       <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-documento_tipo" action="/documento_tipo/busca_documento_tipo" method="POST" enctype="multipart/form-data">
                    <b>Descrição:</b>
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscadescricao" name="buscadescricao" value="{$buscadescricao|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                            <br>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
        <br>
        <a class="btn btn-primary" href="/documento_tipo/novo_documento_tipo">Novo Tipo de Documento</a><br><br>


<table class="table table-hover">
    <thead>
        <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        {foreach from=$documento_tipo_lista item="linha"}
        <tr>
            <td><a href="/documento_tipo/novo_documento_tipo/id_documento_tipo/{$linha.id_documento_tipo}">{$linha.id_documento_tipo}</a></td>
            <td>{$linha.descricao}</td>
            <td> <a class="glyphicon glyphicon-pencil" href="/documento_tipo/novo_documento_tipo/id_documento_tipo/{$linha.id_documento_tipo}">Editar</a> |
                 <a class="glyphicon glyphicon-trash" href="#" onclick="confirma_excluir_item({$linha.id_documento_tipo})">Excluir</a></td>

        </tr>
        {/foreach}        
    </tbody>
</table>
          
         
<!--Altere daqui pra cima-->
    </div>
</div>

<!-- JavaScript -->
<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
<script src="/files/js/bootbox.min.js"></script>
<script src="/files/js/util.js"></script>
<script src="/files/js/documento_tipo/documento_tipo_lista.js"></script>

{include file="comuns/footer.tpl"}
