{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->        
        <h1>Lista de Laudos</h1>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-laudo" action="/laudo/busca_laudo" method="POST" enctype="multipart/form-data">
                        Lote :
                        <div class="input-group">
                            <input type="text" class="form-control" id="buscaLote" name="buscaLote" value="{$buscaLote|default:''}" >
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Buscar</button><br><br>
                            </span>          
                        </div>
                </form>
            </div>
        </div>        

        {if $smarty.session.user.tipo_usuario == 1 or $smarty.session.user.tipo_usuario == 3}
            <a href="/laudo/novo_laudo" class="btn btn-primary">Novo Laudo</a>     
        {/if}

        <br><br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Cod.</th>
                    <th>Data</th>
                    <th>Lote</th>
                    <th>Parceiro</th>
                    <th>Usuário</th>
                    <th>Nota Fiscal</th>
                    <th>Documento</th>
                    <th>Quantidade</th>
<!--                    <th>status</th>                    -->
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
              {foreach from=$laudo_lista item="linha"}
                <tr>
                    <td><a href="/laudo/novo_laudo/id_laudo/{$linha.id_laudo}">{$linha.id_laudo}</a></td>
                    <td>{$linha.data_laudo}</td>
                    <td>{$linha.num_lote}</td>
                    <td>{$linha.razao_social}</td>
                    <td>{$linha.usuario}</td>
                    <td>{$linha.num_nota_fiscal}</td>
                    <td>{$linha.documento}</td>
                    <td>{$linha.quantidade}</td>
<!--                    <td> {if $linha.status==1}ATIVO{else}$linha.status{/if}</td>-->
                    <td> {if $smarty.session.user.tipo_usuario == 1 or $smarty.session.user.tipo_usuario == 3}
<!--                         <a class="glyphicon glyphicon-pencil" href="/laudo/novo_laudo/id_laudo/{$linha.id_laudo}">Editar</a> |-->
                         <a class="glyphicon glyphicon-trash"  href="/laudo/dellaudo/id_laudo/{$linha.id_laudo}">Excluir</a> |                         
                         {/if}
                         <a class="glyphicon glyphicon-save"   href="{$linha.caminho_arquivo}">Visualizar</a></td>
                    </td>
                </tr>
                {foreachelse}
                <tr><td colspan="6">Nenhum registro encontrado</td></tr>
                {/foreach}        
            </tbody>
        </table>
        

        <!--Altere daqui pra cima-->
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
<script src="/files/js/log/log_lista.js"></script>
{include file="comuns/footer.tpl"}
