<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div class="table-responsive">
            <table class="table">        
                <thead>
                </thead>
                <tbody>
                    {foreach from=$laudo_lista item="linha"}
                    <tr>
                        <td colspan="2">
                            <img src="../../../files/images/local_troca.png" width="150" height="150" alt="local_troca"/>
                        </td>
                        <td colspan="10">                           
                            <h1><strong>Laudo de Produção Reversa - Lote No <small>{$linha.num_lote} </small></strong></h1>            
                        </td>
                    </tr>                    
                    <tr>
                        <td colspan="12">                           
                            <p>Indtria e Comercio Fox de Reciclagem e Protecao ao Clima </p>
                            <p>Rodovia Dim Grabriel Paulino Bueno Couto No 1800, KM 87,5 - Pedregulho - CEP: 13318-000 - Cabreuva - SP </p>
                            <p>CNPJ : 10.804.529/0001-11 - Responsavel : Eng. Marcelo Anderson de Souza </p>
                        </td>                        
                    </tr>
                    <tr>
                        <td colspan="12">                           
                            <p>Cliente : {$linha.razao_social}   - No. Contrato: Ausente</p>
                            <p>Nome do Projeto : {$linha.projeto} NF Industria Fox : {$linha.num_nota_fiscal}</p>
                            <p>Endereco : {$linha.tipo_logradouro} {$linha.endereco} {$linha.numero} {$linha.complemento} Bairro :{$linha.bairro} Cidade :{$linha.municipio} UF:{$linha.estado} Cep :{$linha.cep}</p>
                        </td>                        
                    </tr>
                    <tr>
                        <td colspan="8">Equipamentos Descaracterizados</td>                         
                        <td colspan="2">Quantidade</td>
                        <td colspan="2">Documento Fiscal</td>
                    </tr>    
                    <tr>
                        <td  colspan="8">{$linha.produto}</td>                         
                        <td  colspan="2">{$linha.quantidade}</td>
                        <td  colspan="2">{$linha.documento}</td>
                    </tr>    
                    <tr>
                        <td colspan="6">Gases Captados e Destruidos</td>                         
                        <td colspan="6">Quantidade</td>
                    </tr>    
                    <tr>
                        <td  colspan="8">Gases de Expansao e refrigeracao (R12, R11, R22, R134a, R134b, blendas)</td>                         
                        <td  colspan="6">4,26</td>
                    </tr>    
                    <tr>
                        <td colspan="12">
                            <img src="../../../files/images/caminhao_fox_maps.png" width="100" height="124" alt="caminhao_fox_maps"/>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="12">
                            <p>O principal impacto gerado pelo descarte de aparelhos de refrigeração se manifesta pela contribuicao ao aquecimento Global do processo adotado. 
                               A Industria Fox possui uma unidade fabril que define o state-of-art em reciclagem de refrigeradores pela sua capacidade de reduzir as emissoes 
                               de gases de efeito estufa decorrente do processo de reciclagem.
                               A Industria Fox se submete a uma auditoria externa de instituicoes independentes credenciadas pela ONU para comprovar a verdadeira execucao dos 
                               trabalhos mencionados neste laudo, com foco especifico na gestao e medicao de gases de efeito estufa. 
                               A instituicao escolhida pela fundacao SENS internacional para efetuar esses trabalhos foi a Conestoga-Roverers & Associates </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../../../files/images/local_troca.png" width="150" height="150" alt="local_troca"/>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../../../files/images/local_troca.png" width="150" height="150" alt="local_troca"/>

                        </td>
                    </tr>                    
                   {/foreach}
                </tbody>
            </table>
  
        </div>
    </body>
<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/jquery_ui/js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="/files/js/bootstrap.js"></script>
<!-- Toast Message -->
<script src="/files/js/toastmessage/javascript/jquery.toastmessage.js"></script>
<!-- Utils -->
<script src="/files/js/util.js"></script>
<!-- JS Especifico do Controller -->
<script src="/files/js/laudo/laudo_form_novo.js"></script>
    
</html>
