<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>
            <h1>Relatorio de Logs</h1>
            <h2>{$titulo_relatorio}</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Mensagem</th>
                        <th>Usuario</th>
                        <th>Status</th>
                        <th>Tipo</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach from=$log_lista item="linha"}
                    <tr>
                        <td>{$linha.id_log}</td>
                        <td>{$linha.mensagem}</td>
                        <td>{$linha.nome}</td>
                        <td> {if $linha.status==1 }
                            ATIVO
                            {else}
                            $linha.status
                            {/if}</td>
                        <td>{$linha.descricao}</td>
                        <td>{$linha.data}</td>
                    </tr>
                    {foreachelse}
                    <tr><td colspan="6">Nenhum registro encontrado</td></tr>
                    {/foreach}        
                </tbody>
            </table>
        </div>
    </body>
</html>
