{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!-- Sidebar -->
        {include file="comuns/sidebar.tpl"}        
        <!--Altere daqui pra baixo-->
        <div id="page-wrapper">
             <h1>Lista de Projetos</h1>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-log" action="/log/busca_log" method="POST" enctype="multipart/form-data">
                        Mensagem:
                        <div class="input-group">
                            <input type="text" class="form-control" id="buscamensagem" name="buscamensagem" value="{$buscamensagem|default:''}" >
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Buscar</button><br><br>
                            </span>          
                        </div>
                </form>
            </div>
        </div>        


        <a href="/projeto/novo_projeto" class="btn btn-primary">Novo projeto</a>           
            

        <table class="table table-bordered table-hover tablesorter">
            <thead>
                <tr>
                    <th>Cod.</th>
                    <th>Descricao</th>
                    <th>Data Incial</th>
                    <th>Data Final</th>
                    <th>Observacao</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$projeto_lista item="linha"}
                <tr>
                    <td><a href="/projeto/novo_projeto/id_projetos/{$linha.id_projetos}">{$linha.id_projetos}</a></td>
                    <td>{$linha.nome}</td>
                    <td>{$linha.data_inicial}</td>
                    <td>{$linha.data_final}</td>
                    <td>{$linha.obs}</td>
                    <td> <a class="glyphicon glyphicon-pencil" href="/projeto/novo_projeto/id_projetos/{$linha.id_projetos}">Editar</a> |
                        <a class="glyphicon glyphicon-trash" href="/projeto/delprojeto/id_projetos/{$linha.id_projetos}">Excluir</a> </td>
                </tr>
                {foreachelse}
                <tr><td colspan="6">Nenhum registro encontrado</td></tr>
                {/foreach}        
            </tbody>
        </table>
            
            
            
            
        </div><!-- /#page-wrapper -->

        <!--Altere daqui pra cima-->
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
<!-- Toast Message -->
<script src="/files/js/toastmessage/javascript/jquery.toastmessage.js"></script>
<!-- Utils -->
<script src="/files/js/util.js"></script>
<!-- Blank JS -->
<!--<script src="/files/js/blank/blank.js"></script> -->
<!-- Page Specific Plugins -->
<script src="/files/js/tablesorter/jquery.tablesorter.js"></script>
<script src="/files/js/tablesorter/tables.js"></script>

{include file="comuns/footer.tpl"}
