<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="../../../files/css/print.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div>
            <h1>Relatorio de Cidades Atendidas</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Cidade</th>
                        <th>Situacao</th>
                        <th>Data inicio</th>
                        <th>Data Fim</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach from=$troca item="linha"}
                    <tr>
                        <td>{$linha.cidade}</td>
                        <td>{if ($linha.data_final != NULL)}
                                Finalizada
                            {/if}
                            {if ($linha.id_rota != NULL && $linha.data_final == NULL)}
                                Em Andamento
                            {/if}
                            {if ($linha.id_rota == NULL && $linha.data_final == NULL)}
                                Aguardando
                            {/if}
                        
                        <td> {$linha.data_inicial}</td>
                        <td> {$linha.data_final}</td>
                        
                    </tr>
                    {foreachelse}
                    <tr><td colspan="6">Nenhum registro encontrado</td></tr>
                    {/foreach}        
                </tbody>
            </table>
        </div>
    </body>
</html>
