{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->

        <h1>Cidades Atendidas</h1>

        <form name="frm_relatorio_pre" 
              action="/parceiros_relatorio/rel_cid_atd" 
              method="POST" 
              enctype="multipart/form-data">
            
            Tipo: 
            <select class="form-control" id="selecionaprojeto" name="selecionaprojeto">

                <option value="Todos">Todos</option>
                <option value="Ativo">Ativo</option>
                <option value="Finalizado">Finalizado</option>
                <option value="Aguardando">Aguardando</option>

            </select>
            <br><br>
            Data Inicial:<input type="text" name="edtdataini" id="edtdataini" value='' /><br>
            Data Final: <input type="text" name="edtdatafim" id="edtdatafim" value='' /><br><br>
            <input type="submit" value="Gerar relatorio" name="btnGerar" />
        </form>

        <!--Altere daqui pra cima-->
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/jquery_ui/js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="/files/js/bootstrap.js"></script>
<script src="/files/js/log/relatorio001_pre.js"></script>
{include file="comuns/footer.tpl"}
