{include file="comuns/head.tpl"}
<div style="margin-left: 15px;margin-right: 15px;margin-top: -15px">
    
    <h2>Acompanhamento de Sucesso</h2>
    Usuário: {$usuario} | Data do Relatório: {$data} | Agrupamento: {$agrupar}
    <hr>   
    {$total_semana = 0}
    {foreach from=$lista item="item"} 
    
    {if $subtopico < $item.semana} 
    {if $total_semana != 0}   
    </tbody>
    </table>
    <span class="pull-right"><b>{$total_semana}</b></span>
    {$total_semana = 0}
    <br>
    {/if}
    <h4>Semana {$item.semana}</h4> 
    <table style="width: 100%">
        <thead>
            <tr>
                <th>Cidade</th>
                <th style="text-align: right">Total</th>
            </tr>        
        </thead>
        <tbody>
    {/if}
    
    <tr>
        <td>{if $item.cidade}{$item.cidade}{else}N/A{/if}</td>
        <td style="text-align: right">{$item.total}</td>
    </tr>
    {$total_semana = $total_semana + $item.total}
    <!--
    {if $subtopico >= $item.semana}   
    </tbody>
    </table>
    <br>
    {/if} 
    -->
    {$subtopico = $item.semana}
    
    {/foreach}
    
    </tbody>
    </table>
    <span class="pull-right"><b>{$total_semana}</b></span>
    <hr>
    <div>
    <span class="pull-right">Total de sucessos: <b>{$total}</b></span>
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>

{include file="comuns/footer.tpl"}
