{include file="comuns/head.tpl"}
<div style="margin-left: 15px;margin-right: 15px;margin-top: -15px">

    <div class="row">
        <div class="col-xs-6">
            <h2>Acompanhamento de Sucesso</h2>
            Usuário: {$usuario} | Data do Relatório: {$data} | Agrupamento: {$agrupar}
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <div class="form-group">
                <a href="/acompanhamento/gerarCSV/situacao/0/agrupar/{$agrupar}" class="form-control btn btn-primary">Gerar arquivo CSV</a>
            </div>
        </div>
    </div>

    <h4>Geral</h4>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>UC</th>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>RG</th>
                <th>CPF</th>
                <th>Data</th>
                <th>Nota fiscal</th>
            </tr>        
        </thead>
        <tbody>
            {foreach from=$lista item="reg"}   
            <tr>
                <td>{$reg.uc}</td>
                <td>{$reg.nome}</td>
                <td>{$reg.endereco}</td>
                <td>{$reg.bairro}</td>
                <td>{$reg.cidade}</td>
                <td>{$reg.rg}</td>
                <td>{$reg.cpf|mascara:['11'=>'###.###.###-##']}</td>
                <td>{$reg.data_conclusao|date_format:'%d/%m/%Y - %H:%M:%I'|default:''}</td>
                <td>{$reg.nf}</td>
            </tr>
            {foreachelse}
            <tr>
                <td colspan="100%">Nenhum registro encontrado.</td>
            </tr>
            {/foreach}    
        </tbody>
    </table>

    <hr>
    <div>
        <span class="pull-right">Total de sucessos: <b>{$total}</b></span>
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>

{include file="comuns/footer.tpl"}
