{include file="comuns/head.tpl"}
<div style="margin-left: 15px;margin-right: 15px;margin-top: -15px">

    <div class="row">
        <div class="col-xs-6">
            <h2>Acompanhamento de Trocas</h2>
            <p>Usuário: {$usuario}, de {$data_inicio|date_format:'%d/%m/%Y - %H:%M:%I'|default:''} até {$data_fim|date_format:'%d/%m/%Y - %H:%M:%I'|default:''}, {$texto_situacao}</p>
            <hr>
        </div>
    </div>
    {if $lista}
    <div class="row">
        <div class="col-xs-2">
            <div class="form-group">
                <a href="/acompanhamento/gerarCSV/hashcode/{$hashcode}" class="form-control btn btn-primary">Gerar arquivo CSV</a>
            </div>
        </div>
    </div>
    {/if}

    <h4>Geral</h4>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                
                <th>UC</th>                
                <th>Nome</th>
                <th>Veiculo</th>
                <th>Endereço</th>
                <th>Bairro</th>
                <th>Cidade</th>                
                {if $id_troca_situacao eq 3}
                <th>RG</th>
                <th>CPF</th>
                <th>Data</th>                
                <th>Nota fiscal</th>
                {else if $id_troca_situacao eq 4 or $id_troca_situacao eq 5}
                <th colspan="100%">Tentativas (Data/Observação)</th>
                {/if}                
            </tr>        
        </thead>
        <tbody>
            {foreach from=$lista item="reg"}   
            <tr>                
                <td>{$reg.uc}</td>                
                <td>{$reg.nome}</td>
                <td>{$reg.placa}</td>
                <td>{$reg.endereco}</td>
                <td>{$reg.bairro}</td>
                <td>{$reg.cidade}</td>                
                {*Sucesso*}
                {if $id_troca_situacao eq 3}
                    <td>{$reg.rg}</td>
                    <td>{$reg.cpf|mascara:['11'=>'###.###.###-##']}</td>
                    <td>{$reg.data_conclusao|date_format:'%d/%m/%Y - %H:%M:%I'|default:''}</td>
                    <td>{$reg.nota_fiscal}</td>
                {*Insucesso*}
                {else if $id_troca_situacao eq 4}
                    {foreach from=$reg.tentativa item=ten}
                    <td>{$ten.datahora|date_format:'%d/%m/%Y - %H:%M:%I'|default:''}</td>
                    <td>{$ten.observacao}</td>
                    {/foreach}
                {/if}                
            </tr>
            {foreachelse}
            <tr>
                <td colspan="100%">Nenhum registro encontrado.</td>
            </tr>
            {/foreach}
            <tr>
                <td colspan="100%">TOTAL : <strong>{sizeof($lista)}</strong></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>

{include file="comuns/footer.tpl"}
