{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <h1>Lista de Documento</h1> 
        <!--Página {$smarty.session.paginacao.atual} de {$smarty.session.paginacao.total_paginas} Paginas. Total de {$smarty.session.paginacao.total_registros} Registros.--> 
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-documento" action="/documento/busca_documento" method="POST" enctype="multipart/form-data">
                    <b>Filename:</b>
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscadescricao" name="buscadescricao" value="{$buscadescricao|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                            <br>
                            <br>
                        </span>          
                    </div>

                    <div class="input-group">
                        <div id="msg-helper"> </div>

                    </div>    

                </form>
            </div>
        </div>
        <a class="btn btn-primary" href="/documento/novo_documento">Novo Documento</a>        
        <a class="btn btn-primary" href="/documento/relatorio001_pre_documento">Relatório</a><br><br>



        <div id="panel">


            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Filename</th>
                        <th>Caminho</th>
                        <th>Tipo de Documento</th>
                        <th>Código da Troca</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach from=$documento_lista item="linha"}
                    <tr>
                        <td>{$linha.id_documento}</td>
                        <td>{$linha.descricao}</td>
                        <td>{$linha.caminho}</td>
                        <td>{$linha.Tipo}</td>
                        <td>{$linha.id_troca}</td>
                        <td> <a  href="/documento/novo_documento/id_documento/{$linha.id_documento}">Editar</a> |
                            <a  href="#" onclick="confirma_excluir_item({$linha.id_documento})">Excluir</a>
                            <!--<a  href="/documento/deldocumento/id_documento/{$linha.id_documento}">Excluir</a> </td>-->

                    </tr>
                    {/foreach}        
                </tbody>
            </table>
            <div class="row">
                <div class="col-xs-12">
                    {$paginacao|default:''}
                </div>
            </div>

            <!--Altere daqui pra cima-->
        </div>
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
<script src="/files/js/documento/documento_lista.js"></script>
<script src="/files/js/documento/documento.js"></script>
<script src="/files/js/bootbox.min.js"></script>

{include file="comuns/footer.tpl"}
