<!DOCTYPE html>
<html>
    <head> 
        <title>Termo de Insucesso</title>
        <meta http-equiv="Content-Type" 
              content="text/html; charset=UTF-8">
    </head>
    <body onload="validaFormulario()">        
        <div id="arquivo">          
            <script> var imgCabecalho = {$imgCabecalho}</script>
            <img id="imgCabecaolho" src="{$imgCabecalho}" width="912" height="188"/>
        </div> 
        <div id="titulo">
            <h2 >TERMO DE DEVOLUÇÃO</h2>   
            <div id="corpo_termo">            
                <b>Dados do consumidor</b>
                <br>
                <br>
                <b>Nome:</b> {$dados.nome}
                <br>
                <b>Endereço:</b> {$dados.endereco}
                <br>
                <b>Unidade consumidora:</b> {$dados.UC} {$dados.Municipio}
                <br>
                <b>Telefone:</b> {$dados.telefone}
                <br>
                <br>
                <b>Motivo da devolução:</b> 
                {if isset($tentativa1)}
                {$tentativa1.observacao}
                {else}
                Nenhuma tentativa cadastrada
                {/if}
                <br>
                <br>                
                {if isset($tentativa1)}
                <b>Primeira tentativa:</b> {$tentativa1.datahora}
                {else}                
                {/if}
                <br>
                {if isset($tentativa2)}
                <b>Segunda tentativa:</b>  {$tentativa2.datahora}
                {else}
                {/if}
                <br>                
                {if isset($tentativa3)}
                <b>Terceira tentativa:</b> {$tentativa3.datahora}
                {else}                
                {/if}
                <br>
                <br>
                <br>
                <br>
                __________________________
                <br>
                <b>Assinatura</b>
                <br>
                <br>
                <b>RG:</b> 
                <br>
                <b>CPF:</b> {$dados.cpf}
                <br>
            </div>
        </div>
    </body>
</html>
<script src="/files/js/termo/termo.js" type="text/javascript"></script>