<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>
            <h1>Relatorio de Fotos</h1>
            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Caminho</th>
                        <th>Filename</th>
                        <th>Tipo de Foto</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {foreach from=$fotos_lista item="linha"}
                    <tr>
                        <td>{$linha.idfotos}</td>
                        <td>{$linha.caminho}</td>
                        <td>{$linha.filename}</td>
                        <td>{$linha.Tipo}</td>
                       
                    </tr>
                    {foreachelse}
                    <tr><td colspan="6">Nenhum registro encontrado</td></tr>
                    {/foreach}        
                </tbody>
            </table>
        </div>
    </body>
</html>