<form name="frm-sobe-logo" 
      action="/projeto/sobe_logo"
      method="POST" 
      enctype="multipart/form-data">

    <input type="hidden" name="id_projetos" id="id_projetos"  
           value="{$registro.id_projetos}" />

    <div>
        Escolha o tipo de arquivo:
        <select class="form-control" name="id_logo_tipo" id="id_logo_tipo">
            <option value="1">Logo</option>
            <option value="2">Laudo topo</option>
        </select>
    </div>
    <div>
        Escolha um arquivo para ser enviado:
        <input class="form-control" type="file" name="logoprojeto" id="logoprojeto" />
    </div>
    <br>
    <div>
        <input type="submit" value="Enviar" name="btnEnviarLogo" class="btn btn-primary col-lg-2"/>
    </div>
</form>

<br>

<hr>
{if isset($smarty.session.projeto.logo_status)}
<form name="frm-projeto-logo" action="/projeto/logo_altera" method="POST" enctype="multipart/form-data">
    id_logo<input type="text" name="id_logo" id="id_logo"  value="{$registro_logo.id_logo}" /><br>
    id_projetos<input type="text" name="id_projetos" id="id_projetos"  value="{$registro_logo.id_projetos}" /><br>
    arquivo<input type="text" name="arquivo" id="arquivo"  value="{$registro_logo.arquivo}" /><br>
    caminho<input type="text" name="caminho" id="caminho"  value="{$registro_logo.caminho}" /><br>
    status<input type="text" name="status" id="status" value="{$registro_logo.status}" /><br>
    <input type="submit" value="salvar" name="btnSalvarLogo" class="btn btn-primary"/>
</form>
<hr>
{else}
<table class="table table-bordered table-hover tablesorter">
    <thead>
        <tr>
            <th>Cod</th>
            <th>Projeto</th>
            <th>Arquivo</th>
            <th>Caminho</th>
            <th>Tipo</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        {foreach from=$pl_lista item="linha"}
        <tr>
            <td>{$linha.id_logo}</td>
            <td>{$linha.id_projetos}</td>
            <td>{$linha.arquivo}</td>
            <td><img src="/storage/{$linha.arquivo}" width="100px"></td>
            <td>{$linha.id_logo_tipo}</td>
            <td> <a class="glyphicon glyphicon-pencil" href="/projeto/logo_altera_item/id_logo/{$linha.id_logo}/id_projetos/{$linha.id_projetos}">Editar</a> |
                <a class="glyphicon glyphicon-trash" href="/projeto/logo_exclui_item/id_logo/{$linha.id_logo}/id_projetos/{$linha.id_projetos}">Excluir</a> </td>
        </tr>
        {foreachelse}
        <tr><td colspan="6">Nenhum registro encontrado</td></tr>
        {/foreach}        
    </tbody>
</table>
{/if}



