
<form name="frm-projeto" 
      action="/projeto/gravar_projeto" method="POST" 
      enctype="multipart/form-data"
      onsubmit="return validaFormulario()"
      >
    {if {$registro.id_projetos}>0}
    Código:{$registro.id_projetos}
    {else}
    Código: Novo Registro
    {/if}



    <input type="hidden" name="id_projetos" id="id_projetos" value="{$registro.id_projetos}" />

    <div class="form-group">
        <label>Nome:</label>
        <input class="form-control" name="nome" id="nome" value="{$registro.nome}">
    </div>

    <div class="form-group">
        <label>Tipo:</label>        
        <select class="form-control" name="tipo" id="tipo" >
            <option value="1" {if ($registro.tipo==1)} selected="selected" {/if}>Ativo</option> 
            <option value="2" {if ($registro.tipo==2)} selected="selected" {/if}>Ativo</option> 
        </select>        
    </div>


    <div class="form-group">
        <label>Parceiro:</label>
        <select class="form-control" name="id_parceiro" id="id_parceiro">
            {foreach from=$parceiros item=parceiro}
            <option value="{$parceiro.id_parceiro}" {if $registro.id_parceiro == $parceiro.id_parceiro}selected{/if}>{$parceiro.nome_fantasia}</option>
            {/foreach}
        </select>
    </div>

    <div class="form-group">
        <label>Data Inicial:</label>
        <input hidden name="data_inicial_hidden" id="data_inicial_hidden" value="{$registro.data_inicial|date_format:'%Y-%m-%d'}">
        <input type="text" class="form-control" size="30" name="data_inicial" id="data_inicial">
    </div>

    <div class="form-group">
        <label>Data Final:</label>
        <input hidden name="data_final_hidden" id="data_final_hidden" value="{$registro.data_final|date_format:'%Y-%m-%d'}">
        <input type="text" class="form-control" size="30" name="data_final" id="data_final">
    </div>   

    <div class="form-group">
        <label>Status Projeto:</label>
        <input class="form-control" name="status_projeto" id="status_projeto" value="{$registro.status_projeto}">
    </div>   

    <div class="form-group">
        <label>Empresa:</label>
        <input class="form-control" name="id_empresa" id="id_empresa" value="{$registro.id_empresa}">
    </div>       

    <div class="form-group">
        <label>Volume Total:</label>
        <input class="form-control" name="volume_total" id="volume_total" value="{$registro.volume_total}">
    </div>      

    <div class="form-group">
        <label>Fatura Frete:</label>
        <input class="form-control" name="fatura_frete" id="fatura_frete" value="{$registro.fatura_frete}">
    </div>    

    <div class="form-group">
        <label>Status:</label>        
        <select class="form-control" name="status" id="status" >
            <option value="0" {if ($registro.status==0)} selected="selected" {/if}>Inativo</option>
            <option value="1" {if ($registro.status==1)} selected="selected" {/if}>Ativo</option>            
        </select>
    </div>    

    <div class="form-group">
        <label>Observação:</label>
        <textarea name="obs" id="obs" class="form-control" rows="3">{$registro.obs}</textarea>
    </div>

    <input type="submit" value="Gravar" name="btnGravar" class="btn btn-primary col-lg-2"/>
    <br><br>
</form>