<form name="frm-diagnostico" 
      action="/projeto/adicionaDiagnostico/id_projeto/{$registro.id_projetos}"
      method="POST" 
      enctype="multipart/form-data">

    <div id="div-msg"></div>
    
    <div>
        Selecione uma Pergunta:
        <div class="input-group">
            <select class="form-control col-lg-6" name="select_diag" id="select_diag">
                {foreach from=$diag_lista item="diagnostico"}
                <option value="{$diagnostico.id_diagnostico}">{$diagnostico.descricao}</option>
                {/foreach}
            </select>
            <span class="input-group-btn">
                <input type="button" name="btnInfoDiag" id="btnInfoDiag" class="btn btn-info" value="Informações!">
                <!--<a href="/diagnostico/novo_diagnostico/from/projeto/id_projeto/{$registro.id_projetos}" name="btnNovoDiag" id="btnNovoDiag" class="btn btn-danger" >Criar Novo</a>-->
            </span>
        </div>
    </div>
    <br>
    <div>
        <input type="submit" value="Adicionar" name="btnAdicionaDiag" class="btn btn-primary col-lg-2"/>
    </div>
    <br>
    <hr>
    <table class="table table-bordered table-hover tablesorter">
        <thead>
            <tr>
                <th>Cod</th>
                <th>Descrição</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$diag_lista_attrs item="diagnostico"}
            <tr>
                <td>{$diagnostico.id_diagnostico}</td>
                <td>{$diagnostico.diagnostico}</td>
                <td> 
                    <a class="glyphicon glyphicon-pencil" href="/diagnostico/novo_diagnostico/id_projeto/{$diagnostico.id_projeto}/id_diagnostico/{$diagnostico.id_diagnostico}"> Editar</a> |
                    <a class="glyphicon glyphicon-trash" href="/projeto/removeDiagnostico/id_projeto/{$diagnostico.id_projeto}/id_diagnostico/{$diagnostico.id_diagnostico}"> Remover</a> 
                </td>
            </tr>
            {foreachelse}
            <tr><td colspan="3">Nenhum registro encontrado</td></tr>
            {/foreach}        
        </tbody>
    </table>
</form>