<form name="frm-diagnostico" 
      action="/projeto/adicionaTipoFoto/id_projeto/{$registro.id_projetos}"
      method="POST" 
      enctype="multipart/form-data">

    <div id="div-msg"></div>
    <div>
        Selecione um tipo de foto:
        <div class="input-group">
            <select class="form-control col-lg-6" name="select_tipo_foto" id="select_tipo_foto">
                {foreach from=$fotos_lista item="tipo_foto"}
                <option value="{$tipo_foto.id_fotos_tipo}">{$tipo_foto.descricao}</option>
                {/foreach}
            </select>
            <span class="input-group-btn">
                <a href="/fotos_tipo/novo_fotos_tipo/id_projeto/{$registro.id_projetos}" name="btnNovoTipo" id="btnNovoTipo" class="btn btn-danger" >Criar Novo</a>
            </span>
        </div>
    </div><br>
    
     <div>
        Opcional ?
        <select class="form-control" name="opcional" id="id_logo_tipo">
            <option value="1">Sim</option>
            <option value="2">Não</option>
        </select>
    </div><br>
    
    <div>
        Pede Motivo ?
        <select class="form-control" name="pede_motivo" id="id_logo_tipo">
            <option value="1">Sim</option>
            <option value="2">Não</option>
        </select>
    </div><br>
   
    <br>
    <div>
        <input type="submit" value="Adicionar" name="btnAdicionaFoto" class="btn btn-primary col-lg-2"/>
    </div>
    <br>
    <hr>
    <table class="table table-bordered table-hover tablesorter">
        <thead>
            <tr>
                <th>Cod</th>
                <th>Descrição</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$fotos_lista_attrs item="fotos_tipo"}
            <tr>
                <td>{$fotos_tipo.id_fotos_tipo}</td>
                <td>{$fotos_tipo.descricao}</td>
                <td> 
                    <a class="glyphicon glyphicon-pencil" href="/fotos_tipo/novo_fotos_tipo/id_projeto/{$registro.id_projetos}/id_fotos_tipo/{$fotos_tipo.id_fotos_tipo}"> Editar</a> |
                    <a class="glyphicon glyphicon-trash" href="/projeto/removeTipoFoto/id_projeto/{$registro.id_projetos}/id_fotos_tipo/{$fotos_tipo.id_fotos_tipo}"> Remover</a> 
                </td>
            </tr>
            {foreachelse}
            <tr><td colspan="3">Nenhum registro encontrado</td></tr>
            {/foreach}        
        </tbody>
    </table>
</form>