{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">


        <div class="panel panel-default">

            <h2>Pré-Relatório de Faturamento</h2>



            <form name="form_pre_relatorio" 
                  action="/faturamento/relatorio_faturamento" 
                  method="POST" enctype="multipart/form-data"
                  onsubmit="return validaFormulario()">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            <div class ="form-group">
                                <span>Projeto</span>
                                <select class="form-control" name="projeto" id="projeto">

                                    {html_options options=$lista_projeto}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                Data Inicial: <input type="text" class="form-control" name="edtdataini" id="edtdataini" value='{$smarty.now|date_format:"%d/%m/%Y"}' onkeypress="if (!isNaN(String.fromCharCode(window.event.keyCode)))
                                            return true;
                                        else
                                            return false;"/>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                Data Final: <input type="text" class="form-control"  name="edtdatafim" id="edtdatafim" value='{$smarty.now|date_format:"%d/%m/%Y"}'onkeypress="if (!isNaN(String.fromCharCode(window.event.keyCode)))
                                            return true;
                                        else
                                            return false;" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                Tipo de Relatorio
                                <select class="form-control" name="tipo_relatorio" id="tipo_relatorio">
                                    <option value="1" id="opcSim">SIMPLES</option>
                                    <option value="2" id="opcNao">DETALHADO</option>   
                                </select> 
                            </div>
                        </div>



                        <button class="btn btn-primary col-sm-6" type="submit">Gerar</button>


                        <a href="/faturamento" class="btn btn-primary btn-primary col-sm-6">Retornar</a>




                    </div>
                </div>
            </form>
            <!--Altere daqui pra cima-->
        </div>

    </div>
</div>


<!-- JavaScript -->
<script type="text/javascript" src="/files/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/files/js/bootstrap.js"></script>
<script type="text/javascript" src="/files/js/jquery_ui/js/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="/files/js/toastmessage/javascript/jquery.toastmessage.js"></script>
<script type="text/javascript" src="/files/js/util.js"></script>
<script type="text/javascript" src="/files/js/jquery.mask.js"></script>
<script src="/files/js/faturamento/relatorio_pre_faturamento.js"></script>
{include file="comuns/footer.tpl"}