{include file="comuns/head.tpl"}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>

            <h1>Relatorio de Trocas Faturadas Detalhado</h1>
            <p class="filtros">{$filtros}</p>

            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Projeto</th>
                        <th>Data Faturamento</th>
                        <th>Nota Fiscal</th>
                        <th>Laudo</th>
                        <th>Usuario</th>
                        <th>Troca</th>

                    </tr>
                </thead>
                <tbody>


                    {assign var="Laudo" value=""}
                    {assign var="NotaFiscal" value=""}
                    {assign var="FatData" value=""}
                    {assign var="qtd_parcial" value=0}
                    {assign var="qtd_total" value=0}







                    {foreach from=$projeto_lista item="linha" name=foo}

                    {if ($Laudo eq "") && ($NotaFiscal eq "") && ($FatData eq "")}

                    <tr>
                        <td>{$linha.Projeto}</td> 
                        <td>{$linha.FatData|date_format:"%d/%m/%Y"}</td>
                        <td>{$linha.NotaFiscal}</td> 
                        <td>{$linha.Laudo}</td>
                        <td>{$linha.Usuario}</td>
                        <td>{$linha.id_troca}</td>


                    </tr>



                    {assign var="Laudo" value=$linha.Laudo}
                    {assign var="NotaFiscal" value=$linha.NotaFiscal}
                    {assign var="FatData" value=$linha.FatData}
                    {assign var="qtd_parcial" value=1}
                    {assign var="qtd_total" value=1}

                    {elseif ($Laudo eq $linha.Laudo) && ($NotaFiscal eq $linha.NotaFiscal) && ($FatData eq $linha.FatData)}

                    <tr>
                        <td>{$linha.Projeto}</td> 
                        <td>{$linha.FatData|date_format:"%d/%m/%Y"}</td>
                        <td>{$linha.NotaFiscal}</td> 
                        <td>{$linha.Laudo}</td>
                        <td>{$linha.Usuario}</td>
                        <td>{$linha.id_troca}</td>


                    </tr>

                    {assign var="qtd_parcial" value=$qtd_parcial + 1}
                    {assign var="qtd_total" value=$qtd_total + 1}

                    

                    {elseif ($Laudo neq $linha.Laudo) && ($NotaFiscal neq $linha.NotaFiscal) && ($FatData neq $linha.FatData)}
                    <tr>
                        <td colspan="100%" style="line-height: 50px;"><strong>Total {$qtd_parcial} Trocas.</strong></td>
                    </tr>


                    <tr>
                        <td>{$linha.Projeto}</td> 
                        <td>{$linha.FatData|date_format:"%d/%m/%Y"}</td>
                        <td>{$linha.NotaFiscal}</td> 
                        <td>{$linha.Laudo}</td>
                        <td>{$linha.Usuario}</td>
                        <td>{$linha.id_troca}</td>


                    </tr>
                    
                    {assign var="Laudo" value=$linha.Laudo}
                    {assign var="NotaFiscal" value=$linha.NotaFiscal}
                    {assign var="FatData" value=$linha.FatData}
                    {assign var="qtd_parcial" value=1}
                    {assign var="qtd_total" value=$qtd_total + 1}

                    {/if}
                    
                    {if $smarty.foreach.foo.last}
                    <tr>
                        <td colspan="100%" style="line-height: 50px;"><strong>Total {$qtd_parcial} Trocas.</strong></td>
                    </tr>
                    <tr>
                        <td colspan="100%" style="line-height: 50px;"><strong>Total Geral {$qtd_total} Trocas.</strong></td>
                    </tr>
                    {/if}


                    {foreachelse}

                    <tr><td colspan="6">Nenhum registro encontrado</td></tr>
                    {/foreach}        


                </tbody>
            </table>
        </div>
    </body>
</html>

{include file="comuns/footer.tpl"}