{include file="comuns/head.tpl"}
<div style="margin-left: 15px;margin-right: 15px;margin-top: -15px">
    <h2>Lista de Rotas</h2>
    <div>
        <table class="table table-hover"border="1">
            <thead>
                <tr>
                    <th> ID </th>
                    <th> Motorista </th>
                    <th> Data Criação </th>
                    <th> Data Saída </th>
                    <th> Data Retorno </th>
                    <th> Status </th>
                    <th> Projeto </th>
                    <th> Usuário </th>
                    <th> Descrição </th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$lista_rotas item=rota}
                <tr>
                    <td>{$rota.id_rota}</td>
                    <td>{$rota.motorista}</td>
                    <td>{$rota.data_criacao|date_format:"%d/%m/%Y"}</td>
                    <td>{$rota.data_saida|date_format:"%d/%m/%Y"}</td>
                    <td>{$rota.data_retorno|date_format:"%d/%m/%Y"}</td>
                    <td>{if $rota.status != ''}{$rota.status}{else}N/A{/if}</td>
                    <td>{$rota.projeto}</td>
                    <td>{$rota.usuario}</td>
                    <td>{if $rota.descricao != ''}{$rota.descricao}{else}N/A{/if}</td>
                </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>

{include file="comuns/footer.tpl"}
