<div class="col-lg-12">
    Placa:
    <div class="input-group col-lg-4">
        <select class="form-control col-lg-12" name="id_placa" id="id_placa" onchange="placaOnChange()">
            <option value=""></option>
            {html_options options=$lista_placas}
        </select>                        
    </div><!-- /input-group -->
</div>
<div class="col-lg-12">
    Motorista:
    <div class="input-group col-lg-4">
        <select class="form-control col-lg-12" name="id_motorista" id="id_motorista"onchange="motoristaOnChange()">
            <option value=""></option>
            {html_options options=$lista_motoristas}
        </select>                        
    </div><!-- /input-group -->
</div>
<div class="col-lg-12">
    Ajudante 1:
    <div class="input-group col-lg-4">
        <select class="form-control col-lg-12" name="id_ajudante1" id="id_ajudante1" onchange="ajudante1OnChange()">
            <option value=""></option>
            {html_options options=$lista_ajudantes}
        </select>                        
    </div><!-- /input-group -->
</div>
<div class="col-lg-12">
    Ajudante 2:
    <div class="input-group col-lg-4">
        <select class="form-control col-lg-12" name="id_ajudante2" id="id_ajudante2" onchange="ajudante2OnChange()">
            <option value=""></option>
            {html_options options=$lista_ajudantes}
        </select>                        
    </div><!-- /input-group -->
</div>