
<table class="table table-hover col-lg-12" border="1">
    <thead>
        <tr>
            <th><input id="check_all_" type="checkbox" title="Selecionar todos"></th>
            <th>ID</th>
            <th>UC</th>
            <th>NOME</th>
            <th>TEL</th>
            <th>CIDADE</th>
            <th>BAIRRO</th>
            <th>ENDERECO</th>
            <th>GEO</th>
            <th>STATUS</th>
        </tr>
    </thead>
    <tbody id="table_trocas_adicionadas">
        {if isset($lista_trocas)}
        {foreach from=$lista_trocas item=troca}
        <tr>
            <td><input type="checkbox" name="cb_troca" id="cb_troca" value="{$troca.id_troca}"/></td>
            <td>{$troca.id_troca}</td>
            <td>{$troca.uc}</td>
            <td>{$troca.nome}</td>
            <td>{$troca.telefone}</td>
            <td>{$troca.municipio}</td>
            <td>{$troca.bairro}</td>
            <td>{$troca.endereco}, {$troca.numero}</td>
            <td>{$troca.situacao}</td>
        </tr>
        {/foreach}
        {else}
        <tr>
            <td colspan="9">Lista vazia</td>
        </tr> 
        {/if}      
    </tbody>
</table>
<br><br>
<button class="btn btn-primary pull-right" type="button" onclick="removeTroca()">Remover Trocas</button> 