{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Lista de Rotas</h1>
               
                <a href="/rota/nova_rota/status/novo" class="btn btn-danger">Nova Rota</a>
                
                <a href="/rota/relatorioGeral" class="btn btn-info"> Impressão Geral</a>
                <a href="/rota/notas_utilizadas" class="btn btn-info" target="_blank"> Notas Utilizadas</a> 
            </div>
            <div class="panel-body">
                {if isset($mensagem) && $mensagem != ''}
                <div id="div-aviso">
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {$mensagem|default:''}
                    </div>
                </div>                 
                {/if} 
                <div id="mensagem-dock"></div>
                <!-- //Dock das mensagens -->
                <div id="box-mensagem-rota" class="alert alert-info alert-dismissable hidden">
                    <div class="bs-example">
                        <h3 id="progress-animated">Por favor aguarde enquanto estou excluindo a(s) rota(s) pra você :)</h3>
                        <div class="progress progress-striped active">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                    </div>   
                </div> 
                <form name="frm-busca-log" action="/rota/busca_rota" method="POST" enctype="multipart/form-data">
                    <div class="col-lg-2">
                        Código:
                        <div class="input-group">
                            <input type="text" class="form-control" id="id_rota" name="id_rota" value="{$id_rota|default:''}" >                          
                        </div><!-- /input-group -->
                        <div class="input-group">
                            <div id="msg-helper"></div>                          
                        </div><!-- /input-group -->
                    </div>
                    <div class="col-lg-2">
                        Usuário:
                        <div class="input-group">
                            <select class="form-control" name="id_usuario" id="id_usuario">
                                <option value="">TODOS</option>
                                {html_options options=$usuario_lista selected=$id_usuario}
                            </select>                        
                        </div><!-- /input-group -->
                    </div>
                    <div class="col-lg-2">
                        Projeto:
                        <div class="input-group">
                            <select class="form-control" name="id_projeto" id="id_projeto">
                                <option value="">TODOS</option>
                                {html_options options=$projeto_lista selected=$id_projeto}
                            </select>                        
                        </div><!-- /input-group -->
                    </div>                  
                    <div class="col-lg-2 pull-right"> 
                        <br>
                        <button class="btn btn-primary pull-right" type="submit">
                            <span class="glyphicon glyphicon-search"></span> Buscar
                        </button>                       
                    </div>
                    
                    <div><br><br><br><br></div>
                    
                    <div id="panel">
                        <table class="table table-hover"border="1">
                            <thead>
                                <tr>
                                    <th> ID </th>
                                    <th> Motorista </th>
                                    <th> Data Criação </th>
                                    <th> Data Saída </th>
                                    <th> Data Retorno </th>
                                    <th> Status </th>
                                    <th> Projeto </th>
                                    <th> Usuário </th>
                                    <th> Descrição </th>
                                    <th> Ações </th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach from=$rota_lista item="linha"}
                                    <tr>
                                        <td><a href="{if $linha.id_rota_status == 1}/rota/nova_rota/id_rota/{$linha.id_rota}/status/editando{else}#{/if}">{$linha.id_rota}</a></td>
                                        <td>{$linha.motorista}</td>
                                        <td>{$linha.data_criacao|date_format:"%d/%m/%Y"}</td>
                                        <td>{$linha.data_saida|date_format:"%d/%m/%Y"}</td>
                                        <td>{$linha.data_retorno|date_format:"%d/%m/%Y"}</td>
                                        <td>{$linha.status}</td>
                                        <td>{$linha.projeto}</td>
                                        <td>{$linha.usuario}</td>
                                        <td>{$linha.descricao}</td>
                                        <td> 
                                            {if $linha.id_rota_status == 1}
        <!--                                    <a class="glyphicon glyphicon-pencil" href="/rota/nova_rota/id_rota/{$linha.id_rota}/status/editando"></a> | -->
                                              {if $smarty.session.user.tipo_usuario == 1}  <a class="glyphicon glyphicon-trash" href="#" onclick="confirma_excluir_item({$linha.id_rota})"></a> |{/if}
                                                <a class="glyphicon glyphicon-check" href="#" onclick="confirma_concluir_item({$linha.id_rota})"></a> |
                                            {/if}
                                            <a class="glyphicon glyphicon-print" target="_blank" href="/rota/relatorioDetail/id_rota/{$linha.id_rota}"></a>
                                        </td>
                                    </tr>
                                {/foreach}        
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <a class="glyphicon glyphicon-arrow-left" href="/"> Voltar</a><br>
            </div>
        </div>



        <!--Altere daqui pra cima-->
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
<script src="/files/js/rota/rota_lista.js"></script>
<script src="/files/js/bootbox.min.js"></script>

{include file="comuns/footer.tpl"}
