{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!-- Sidebar -->
        {include file="comuns/sidebar.tpl"}        
        <!--Altere daqui pra baixo-->
        <div id="page-wrapper">
             <h1>Lista de Manufatura Reversa</h1>
     

        <table class="table table-bordered table-hover tablesorter">
            <thead>
                <tr>
                    <th>Cod.</th>
                    <th>Descricao</th>
                    <th>Data Incial</th>
                    
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$manufatura_reversa_lista item="linha"}
                <tr>
                    <td><a href="/manufatura_reversa/manufatura_reversa_mostra/id_manufatura_reversa/{$linha.id_manufatura_reversa}">{$linha.id_manufatura_reversa}</a></td>
                    <td>{$linha.body}</td>
                    <td>{$linha.data_criacao}</td>
                    
                    <td>{$linha.nome}</td>
                    
                </tr>
                {foreachelse}
                <tr><td colspan="6">Nenhum registro encontrado</td></tr>
                {/foreach}        
            </tbody>
        </table>
            
            
            
            
        </div><!-- /#page-wrapper -->

        <!--Altere daqui pra cima-->
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
<!-- Toast Message -->
<script src="/files/js/toastmessage/javascript/jquery.toastmessage.js"></script>
<!-- Utils -->
<script src="/files/js/util.js"></script>
<!-- Blank JS -->
<!--<script src="/files/js/blank/blank.js"></script> -->
<!-- Page Specific Plugins -->
<script src="/files/js/tablesorter/jquery.tablesorter.js"></script>
<script src="/files/js/tablesorter/tables.js"></script>

{include file="comuns/footer.tpl"}
