{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->

        {if isset($reclamacao)}
        {foreach from=$reclamacao item="reclamaca"}
        <div class="alert alert-info" >
            <tt><h1>Detalhe da Reclama&ccedil;&atilde;o - ID: {$reclamaca.id_reclamacao} </h1></tt>
        </div>  
        <a href="/reclamacao" class="btn btn-primary"> Voltar</a><br> <br>
        <form name="frm-reclamacao-historico" id="frm-reclamacao-historico" 
              action="/reclamacao/altera_status_reclamacao/id_reclamacao/{$reclamaca.id_reclamacao}" 
              method="POST" enctype="multipart/form-data" 
              onsubmit="return validaFormulario()">

            <div class="form-group"> 
                <input type="hidden" class="form-control" name="id_reclamacao" id="id_reclamacao" value="{$reclamaca.id_reclamacao|default:''}" />
                <div class="input-group col-lg-8">
                    <span class="input-group-addon btn-outline btn-primary">Ticket- UC</span>
                    <input type="text" class="form-control" name="uc" id="uc" value="{$reclamaca.uc|default:''}" READONLY>           
                    <span class="input-group-addon btn-outline btn-primary">Reclamador</span>
                    <input type="text" class="form-control" name="nome" id="nome" value="{$reclamaca.nome|default:''}" READONLY>                           
                    <span class="input-group-addon btn-outline btn-primary">Telefone</span>
                    <input type="text" class="form-control" name="telefone" id="telefone" value="{$reclamaca.telefone|default:''}" READONLY>                                                   
                    <span class="input-group-addon btn-outline btn-primary">Data Cria&ccedil;&atilde;o</span>
                    <input type="text" class="form-control" name="data_criacao" id="nome" value="{$reclamaca.data_criacao|default:''}" READONLY>                                                   
                </div> 
                <div class="input-group col-lg-8">
                    <span class="input-group-addon btn-outline btn-primary">Descri&ccedil;&atilde;o</span>                    
                    <textarea name="carrega_descricao" class="form-control" rows="5" cols="50" readonly="readonly" style="width: 100%">{$reclamaca.descricao|default:''}</textarea>
                </div>    
            </div> 
            {if isset($reclamacao[0].status) && $reclamacao[0].status != 2}
            <br>            
            <input type="submit" value="Concluir Reclamação" name="btnconcluir" class="btn btn-primary" />                       
            <br>
            {/if}
        </form>

        <form name="frm-alt-reclamacao-historico" id="frm-alt-reclamacao-historico" 
              action="/reclamacao/novo_reclamacao_historico/uc/{$reclamaca.uc}/id_reclamacao/{$reclamaca.id_reclamacao}" 
              method="POST" enctype="multipart/form-data" 
              onsubmit="return validaFormulario()">
            {if $reclamacao[0].status != 2}
            <br>                                    
            <input type="submit" value="Postar Acompanhamento" name="btnGravar" class="btn btn-primary" />                     
            <br>                
            {/if}
        </form>
        <!--Altere daqui pra cima-->
        <br>   
        <div class="alert alert-info" >
            <tt><h1>Hist&oacute;rico da Reclama&ccedil;&atilde;o </h1></tt>
        </div>              
        <div class="panel-body">                    
            {if ($detalhe > 0)}
            <table class="table" border="1">
                <thead>
                    <tr>                                                
                        <th>Descrição</th>                                
                        <th>Usuário</th>
                    </tr>
                </thead>
                <tbody>                        
                    {foreach from=$detalhe item="linha"}
                    <tr>                                                
                        <td>{$linha.mensagem}</td>                                                        
                        <td>{$linha.usuario}</td>                        
                    </tr>
                    {foreachelse}
                    <tr><td colspan="4">N&atilde;o existem historicos para essa reclama&ccedil;&atilde;o </td></tr>
                    {/foreach}                                                  
                </tbody>
            </table> 
            {else}
            <b>N&atilde;o existem historicos para essa reclama&ccedil;&atilde;o</b>
            {/if}
        </div>  
        {/foreach}
        {/if}     
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
<!-- Toast Message -->
<script src="/files/js/toastmessage/javascript/jquery.toastmessage.js"></script>
<!-- Utils -->
<script src="/files/js/util.js"></script>
<!-- JS Especifico do Controller -->
<script src="/files/js/reclamacao_historico/reclamacao_historico_lista.js"></script>

{include file="comuns/footer.tpl"}
