<!DOCTYPE html>
<html>
    {include file="comuns/head.tpl"}
    <body>
        <div class="container-fluid">
            <h1>Relatorio de Unidade Consumidora</h1>
            
            <table class="table table-hover" style="font-size: 10px;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>UC</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>CPF</th>
                        <th>Bairro</th>
                        <th>Endereço</th>
                        <th>Nº</th>
                        <th>Complemento</th>
                        <th>CEP</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {foreach from=$unidadeconsumidora_lista item="linha"}
                    <tr>
                        <td>{$linha.id_uc}</td>
                        <td>{$linha.UC}</td>
                        <td>{$linha.nome}</td>
                        <td>{$linha.telefone}</td>
                        <td>{$linha.cpf}</td>
                        <td>{$linha.Bairro}</td> 
                        <td>{$linha.endereco}</td>
                        <td>{$linha.numero}</td>
                        <td>{$linha.complemento}</td>
                        <td>{$linha.cep}</td>
                        <td>{$linha.Latitude}</td> 
                        <td>{$linha.Longitude}</td>
                    </tr>
                    {foreachelse}
                    <tr><td colspan="6">Nenhum registro encontrado</td></tr>
                    {/foreach}        
                </tbody>
            </table>
        </div>
    </body>
</html>
