{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
      {include file="comuns/sidebar.tpl"}  

    <div id="page-wrapper">
      <h1>Lista de Unidade Consumidora</h1>  
      Página {$smarty.session.paginacao.atual} de {$smarty.session.paginacao.total_paginas} Paginas. Total de {$smarty.session.paginacao.total_registros} Registros.  
      <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-unidadeconsumidora" action="/unidadeconsumidora/busca_unidadeconsumidora" method="POST" enctype="multipart/form-data">
                    <b>CPF:</b>
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscacpf" name="buscacpf" value="{$buscacpf|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                            <br>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>

    <a class="btn btn-primary" href="/unidadeconsumidora/novo_unidadeconsumidora">Nova Unidade Consumidora</a>
    <a class="btn btn-primary" href="/unidadeconsumidora/relatorio001_pre_unidadeconsumidora">Relatorio</a>
    <br><br><br>

<table class="table table-hover">
    <thead>
        <tr> 
            <td>ID UC</td>
            <td>UC</td>
            <th>Nome</th>
            <th>Telefone</th>
            <th>CPF</th>
            <th>Bairro</th>
            <th>Endereço</th>
            <th>Numero</th>
            <th>Complemento</th>
            <th>CEP</th>   
            
        </tr>
    </thead>
    <tbody>
        {foreach from=$unidadeconsumidora_lista item="linha"}
        <tr>
            <td><a href="/unidadeconsumidora/novo_unidadeconsumidora/id_uc/{$linha.id_uc}">{$linha.id_uc}</a></td>        
            <td>{$linha.UC}</td>
            <td>{$linha.nome}</td>
            <td>{$linha.telefone}</td>
            <td>{$linha.cpf}</td>
            <td>{$linha.Bairro}</td>
            <td>{$linha.endereco}</td>
            <td>{$linha.numero}</td>
            <td>{$linha.complemento}</td>
            <td>{$linha.cep}</td>
            
            <td> <a href="/unidadeconsumidora/novo_unidadeconsumidora/id_uc/{$linha.id_uc}">Alterar</a>|
                 <a class="glyphicon glyphicon-trash" href="#" onclick="confirma_excluir_item({$linha.id_uc})">Excluir</a>
        </tr>
        {/foreach}        
    </tbody>
</table>
 <ul class="pagination">
   <li>{$smarty.session.paginacao.botoes.primeiro}</li>
       {$smarty.session.paginacao.botoes.meio} 
   <li>{$smarty.session.paginacao.botoes.ultimo}</li>
</ul>           

<!--Altere daqui pra cima-->
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
<script src="/files/js/bootbox.min.js"></script>
<script src="/files/js/util.js"></script>
<script src="/files/js/unidadeconsumidora/unidadeconsumidora_lista.js"></script>


{include file="comuns/footer.tpl"}
