<div class="painel_basico basico_colaborador_busca">
  <div class="titulos_paginas" id="colaboradores">
    <h2>
      <img src="../../../files/images/icon_tab_usuarios.png" width="63" height="75" /> 
      Colaboradores</h2>
  </div> 
  <div>    
    <div class="clear"></div>
    <fieldset>
      <legend>Buscar</legend>
      <input type="text" name="colaborador_busca_texto" id="colaborador_busca_texto" value="fa"/>
      <label>Empresa:</label>          
      <select name="busca_empresa" id="busca_empresa">
        {html_options options=$lista_empresas}
      </select>
      <input type="button" class="btn_padrao" value="buscar" 
             id="btn_colaborador_buscar" 
             name="btn_colaborador_buscar"
             onclick="busca_colaborador()"/>
    </fieldset>
  </div> 
  <div class="clear"></div>
  <div class="alinha_esquerda">    
    <button onclick="btn_novo_colaborador_click()" class="btn_padrao">Novo colaborador</button>
    <inpu>
  </div>
  <div id="grid_resultados" class="box_resultados_100">    
    <div class="clear"></div>
    <table id="lista_retorno" name="lista_retorno" class="basicTable">
      <thead>
        <tr>
          <th>cod</th>
          <th>nome</th>
          <th>Ação</th>
        </tr>
      </thead>      
      <tbody>
        {include file="colaborador/grid_colaborador.tpl" colaborador_lista=$colaborador_lista}
      </tbody>      
    </table>
  </div>
  <div class="clear"></div>
</div>