{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->
        <h1>Busca Troca</h1>
        <hr />

        <form name="frm_buscatroca" 
              method="POST" 
              action="/buscatroca_uc/busca_dados" 
              role="form" 
              enctype="multipart/form-data" 
              onsubmit="return validaFormulario()">

            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="edtUC">UC:</label>
                        <input type="text" name="edtUC" value="{$uc|default:''}" id="edtUC" class="form-control" />
                    </div>
                </div>
                <div class="col-xs-2" style="margin-top: 24px;">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary form-control" value="Buscar" name="btnBuscar" />
                    </div>
                </div>
            </div>

            <hr />

            {if isset($busca) && !$busca}
            <div class="alert alert-danger">
                <p>Nenhuma UC encontrada.</p>
            </div>
            {/if}

            <div class="row">
                <div class="col-xs-12">
                    {if isset($uc_lista.uc)}

                    <script>var listauc = ({$uc_lista.uc});</script>
                    
                    <input type="hidden" id="hidden_troca" value="{$uc_lista.idTroca}" />

                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="projeto">Projeto:</label>
                                <input class="form-control" id="projeto" type="text" value="{$uc_lista.projeto}" disabled />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="edtnome">Nome:</label>
                                <input class="form-control" id="edtnome" type="text" value="{$uc_lista.nomeCliente}" disabled />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="edtcidade">Cidade:</label>
                                <input class="form-control" id="edtcidade" type="text" value="{$uc_lista.cidade} " disabled />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="edtbairro">Bairro:</label>
                                <input class="form-control" id="edtbairro" type="text" value="{$uc_lista.bairro} " disabled />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="edtendereco">Endereco:</label>
                                <input class="form-control" id="edtendereco" type="text" value="{$uc_lista.endereco} " disabled />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="edtstatus">Status:</label>
                                {if $uc_lista.status == 1}
                                <input class="form-control" id="edtstatus" type="text" value="Não Iniciado" disabled />
                                {/if}
                                {if $uc_lista.status == 2}
                                <input class="form-control" id="edtstatus" type="text" value="Em Rota" disabled />
                                {/if}
                                {if $uc_lista.status == 3}
                                <input class="form-control" id="edtstatus" type="text" value="Sucesso" disabled />
                                {/if}
                                {if $uc_lista.status == 4}
                                <input class="form-control" id="edtstatus" type="text" value="Insucesso" disabled />
                                {/if}

                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                {if $uc_lista.status == 4}
                                <label for="edtObsTentativa">Observação:</label>
                                <input class="form-control" id="edtObsTentativa" type="text" value="{$observacao}" disabled />
                                {/if}
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="edtdata">Data:</label>
                                <input class="form-control" id="edtdata" type="text" value="{$uc_lista.dataRota|date_format:'%d/%m/%Y %H:%M:%S'|default:'Ainda não concluído'}" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="edtmotorista">Motorista:</label>
                                <input class="form-control" id="edtmotorista" type="text" value="{$uc_lista.nomeMotorista} " disabled />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="edttelefone">Telefone:</label>
                                <input class="form-control" id="edttelefone" type="text" value="{$uc_lista.telefoneMotorista} " disabled />            
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="edtveiculo">Veiculo:</label>
                                <input class="form-control" id="edtveiculo" type="text" value="{$uc_lista.descVeiculo} " disabled />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="edtplaca">Placa:</label>
                                <input class="form-control" id="edtplaca" type="text" placeholder="{$uc_lista.placa} " disabled />
                            </div>
                        </div>
                    </div>
                    {if $uc_lista.status == 4 && ($smarty.session.user.tipo_usuario == 1 || $smarty.session.user.tipo_usuario == 3)}
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="edtmotorista">Detalhe do insucesso:</label>
                                <select class="form-control" name="detalhe_insucesso" id="detalhe_insucesso">
                                    {html_options options=$tentativa_motivo_lista selected=$uc_lista.id_tentativas_insucesso_detalhe}
                                </select>  
                            </div>
                        </div>
                        <div class="col-xs-2 input-group">
                            <label class="col-xs-12"><br></label>
                            <input type="button" class="btn btn-danger col-xs-12" value="Alterar" name="btnAlterar" id="btnAlterar" onclick="alteraDetalheInsucesso()"/>
                        </div>
                    </div>
                    
                    {/if}
                    
                    <div class="row">
                        <div class="col-xs-12">
                            {if ({$uc_lista.status} == 3 or {$uc_lista.status}) == 3 && sizeof($fotos_lista)}
                            
                            <hr />
                            
                            <h2>FOTOS</h2>
                            
                            {foreach from=$fotos_lista key=k item="linha" name=foo}
                            <a onclick="mostra_foto('{$linha.caminho}{$linha.filename}')">{$linha.descricao}</a>{if !$smarty.foreach.foo.last} | {/if}
                            {/foreach}
                            {if ($smarty.session.user.tipo_usuario == 1 || $smarty.session.user.tipo_usuario == 3)}
                            | <a href="/buscatroca_uc/lista_fotos/uc/{$uc}" target="_blank">Listar Todas</a>
                            {/if}
                            {/if}
                        </div>
                    </div>

                    {/if}

                </div>
            </div>

        </form>

        <!--Altere daqui pra cima-->
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
<script src="/files/js/bootbox.min.js"></script>
<script src="/files/js/util.js"></script>
<script src="/files/js/toastmessage/javascript/jquery.toastmessage.js" type="text/javascript"></script>
<script src="/files/js/buscatroca_uc/buscatroca_uc_lista.js"></script>
{include file="comuns/footer.tpl"}

