{include file="comuns/head.tpl"}
        <div>
            <h1>Relatório de Ajudantes</h1>
             <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Telefone 1</th>
                    <th>Telefone 2</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$ajudante_lista item="linha"}
                <tr>
                    <td>{$linha.id_ajudante}</td>
                    <td>{$linha.nome}</td>
                    <td>{$linha.telefone1}</td>
                    <td>{$linha.telefone2}</td>
                    <td>{$linha.email}</td>
                </tr>
                {/foreach}        
            </tbody>
        </table>
        </div>

<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>

{include file="comuns/footer.tpl"}
