{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
      {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
      <h1>Lista de Municípios</h1>  
      Página {$smarty.session.paginacao.atual} de {$smarty.session.paginacao.total_paginas} Paginas. Total de {$smarty.session.paginacao.total_registros} Registros.  
      <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-municipio" action="/municipio/busca_municipio" method="POST" enctype="multipart/form-data">
                    <b>Nome do Município:</b>
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscanome" name="buscanome" value="{$buscanome|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                            <br>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
 <a class="btn btn-primary" href="/municipio/novo_municipio">Novo Município</a>
 <a class="btn btn-primary" href="/municipio/relatorio001_pre_municipio">Relatório</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Código</th>
            <th>Código IBGE</th>
            <th>Estado</th>
            <th>Cidade</th>
            
        </tr>
    </thead>
    <tbody>
        {foreach from=$municipio_lista item="linha"}
        <tr>
            <td><a href="/municipio/novo_municipio/id_municipio/{$linha.id_municipio}">{$linha.id_municipio}</a></td>        
            <td>{$linha.codigo_ibge}</td>
            <td>{$linha.uf}</td>
            <td>{$linha.nome}</td>
            
            <td> <a class="glyphicon glyphicon-pencil" href="/municipio/novo_municipio/id_municipio/{$linha.id_municipio}">Editar</a> |
                 <a class="glyphicon glyphicon-trash" href="#" onclick="confirma_excluir_item({$linha.id_municipio})">Excluir</a> 

        </tr>
        {/foreach}        
    </tbody>
</table>
 <ul class="pagination">
   <li>{$smarty.session.paginacao.botoes.primeiro}</li>
       {$smarty.session.paginacao.botoes.meio} 
   <li>{$smarty.session.paginacao.botoes.ultimo}</li>
</ul>           


<!--Altere daqui pra cima-->
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
<script src="/files/js/bootbox.min.js"></script>
<script src="/files/js/util.js"></script>
<script src="/files/js/municipio/municipio_lista.js"></script>


{include file="comuns/footer.tpl"}
