<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>
            <h1>Relatorio de Diagnostico</h1>
            
            <table class="table table-striped" border="1">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Descrição</th>
                        <th>Descrição do Tipo de Diagnostico</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {foreach from=$diagnostico_lista item="linha"}
                    <tr>
                        <td>{$linha.id_diagnostico}</td>
                        <td>{$linha.descricao}</td>
                        <td>{$linha.DescricaoTipo}</td>
                       
                    </tr>
                    {foreachelse}
                    <tr><td colspan="6">Nenhum registro encontrado</td></tr>
                    {/foreach}        
                </tbody>
            </table>
        </div>
    </body>
</html>