{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
      {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
              <div class="panel panel-default">
        <h1>Lista de Diagnósticos Opções</h1>
        <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-diagnostico_opcoes" action="/diagnostico_opcoes/busca_diagnostico_opcoes" method="POST" enctype="multipart/form-data">
                    Codigo diagnostico opções:
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscaid" name="buscaid" value="{$buscaid|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
            
        </div>

 <a class="btn btn-primary" href="/diagnostico_opcoes/novo_diagnostico_opcoes">Novo Diagnostico de Opções</a><br><br>
        
<table class="table table-hover">
    <thead>
        <tr>
            <th>Codigo Diagnostico Opções</th>
            <th>Codigo do Diagnostico</th>
            <th>Descrição</th>
            
        </tr>
    </thead>
    <tbody>
        {foreach from=$diagnostico_opcoes_lista item="linha"}
        <tr>
            <td><a href="/diagnostico_opcoes/novo_diagnostico_opcoes/id_diagnostico_opcoes/{$linha.id_diagnostico_opcoes}">{$linha.id_diagnostico_opcoes}</a></td>        
            <td>{$linha.id_diagnostico}</td>
            <td>{$linha.descricao}</td>

            <td> <a class="glyphicon glyphicon-pencil" href="/diagnostico_opcoes/novo_diagnostico_opcoes/id_diagnostico_opcoes/{$linha.id_diagnostico_opcoes}">Editar</a> |
                 <a class="glyphicon glyphicon-trash" href="#" onclick="confirma_excluir_item({$linha.id_diagnostico_opcoes})">Excluir</a>  

        </tr>
        {/foreach}        
    </tbody>
</table>
          


<!--Altere daqui pra cima-->
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
<script src="/files/js/bootbox.min.js"></script>
<script src="/files/js/util.js"></script>
<script src="/files/js/diagnostico_opcoes/diagnostico_opcoes_lista.js"></script>


{include file="comuns/footer.tpl"}