{include file="comuns/head.tpl"}

<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <h1 style="margin-top: 0">Relatório Eventos - Analítico</h1>            

            <div class="row">
                <div class="col-xs-10">
                    <p style="text-transform: capitalize;">{$consulta}</p>
                </div>
                <div class="col-xs-2 hidden-print">
                    <a onclick="window.print()"><span class="glyphicon glyphicon-print"></span> Imprimir</a>
                </div>
            </div>

            <div class="row" style="margin-top: 30px;">
                <div class="col-xs-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Data</th>
                                <th class="text-center">Código UC</th>
                                <th>Nome</th>
                                <th>Qtd. Lampadas</th>
                                <th class="text-center">Telefone</th>
                                <th>Evento</th>
                                <th class="text-center">Sorteado</th>
                            </tr>
                        </thead>
                        <tbody>

                            {assign var="evento" value=""}
                            {assign var="qtd_parcial" value=0}
                            {assign var="qtd_total" value=0}

                            {foreach from=$resultado item=reg name=foo}

                            {if $evento eq ""}

                            <tr>
                                <td class="text-center">{$reg.dt|date_format:'%d/%m/%Y'}</td>
                                <td class="text-center">{$reg.uc}</td>
                                <td>{$reg.nome}</td>
                                <td>{$reg.qtd_lampada}</td>
                                <td class="text-center">{$reg.telefone|mascara:['10'=>'(##) ####-####','11'=>'(##) #####-####']}</td>
                                <td>{$reg.evento}</td>
                                <td class="text-center">{if $reg.sorteado eq 0}<span class="text-danger">NÂO</span>{else}<span class="text-success">SIM</span>{/if}</td>
                            </tr>

                            {assign var="evento" value=$reg.id_evento}
                            {assign var="qtd_parcial" value=1}
                            {assign var="qtd_total" value=1}

                            {elseif $evento eq $reg.id_evento}

                            <tr>
                                <td class="text-center">{$reg.dt|date_format:'%d/%m/%Y'}</td>
                                <td class="text-center">{$reg.uc}</td>
                                <td>{$reg.nome}</td>
                                <td>{$reg.qtd_lampada}</td>
                                <td class="text-center">{$reg.telefone|mascara:['10'=>'(##) ####-####','11'=>'(##) #####-####']}</td>
                                <td>{$reg.evento}</td>
                                <td class="text-center">{if $reg.sorteado eq 0}<span class="text-danger">NÂO</span>{else}<span class="text-success">SIM</span>{/if}</td>
                            </tr>

                            {assign var="qtd_parcial" value=$qtd_parcial + 1}
                            {assign var="qtd_total" value=$qtd_total + 1}

                            {if $smarty.foreach.foo.last}

                            <tr>
                                <td colspan="100%" style="line-height: 50px;"><strong>Quantidade parcial: {$qtd_parcial} cadastrados.</strong></td>
                            </tr>
                            <tr>
                                <td colspan="100%" style="line-height: 50px;"><strong>Quantidade total: {$qtd_total} cadastrados.</strong></td>
                            </tr>
                            {/if}

                            {elseif $evento neq $reg.id_evento}
                            <tr>
                                <td colspan="100%" style="line-height: 50px;"><strong>Quantidade parcial: {$qtd_parcial} cadastrados.</strong></td>
                            </tr>

                            <tr>
                                <td class="text-center">{$reg.dt|date_format:'%d/%m/%Y'}</td>
                                <td class="text-center">{$reg.uc}</td>
                                <td>{$reg.nome}</td>
                                <td>{$reg.qtd_lampada}</td>
                                <td class="text-center">{$reg.telefone|mascara:['10'=>'(##) ####-####','11'=>'(##) #####-####']}</td>
                                <td>{$reg.evento}</td>
                                <td class="text-center">{if $reg.sorteado eq 0}<span class="text-danger">NÂO</span>{else}<span class="text-success">SIM</span>{/if}</td>
                            </tr>

                            {assign var="evento" value=$reg.id_evento}
                            {assign var="qtd_parcial" value=1}
                            {assign var="qtd_total" value=$qtd_total + 1}

                            {/if}

                            {foreachelse}
                            <tr>
                                <td colspan="100%">Nenhum registro encontrado.</td>
                            </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="comuns/footer.tpl"}