{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
      {include file="comuns/sidebar.tpl"}  

    <div id="page-wrapper">
      <h1>Lista de Bairros</h1>  
      Página {$smarty.session.paginacao.atual} de {$smarty.session.paginacao.total_paginas} Paginas. Total de {$smarty.session.paginacao.total_registros} Registros. 
      <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-bairro" action="/bairro/busca_bairro" method="POST" enctype="multipart/form-data">
                    <b>Nome Bairro:</b>
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscanome" name="buscanome" value="{$buscacpf|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                            <br>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
        <br>
<a class="btn btn-primary" href="/bairro/novo_bairro">Novo Bairro</a>
 <a class="btn btn-primary" href="/bairro/relatorio001_pre_bairro">Relatório</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Código</th>
            <th>Bairro</th>
            
        </tr>
    </thead>
    <tbody>
        {foreach from=$bairro_lista item="linha"}
        <tr>
            <td><a href="/bairro/novo_bairro/id_bairro/{$linha.id_bairro}">{$linha.id_bairro}</a></td>        
            <td>{$linha.nome}</td>          
            <td> 
                <a class="glyphicon glyphicon-pencil" href="/bairro/novo_bairro/id_bairro/{$linha.id_bairro}">Editar</a> |
                <a class="glyphicon glyphicon-trash" onclick="confirma_excluir_item({$linha.id_bairro})" href="#" >Excluir</a> 
            </td>
        </tr>
        {/foreach}        
    </tbody>
</table>
          
<ul class="pagination">
   <li>{$smarty.session.paginacao.botoes.primeiro}</li>
       {$smarty.session.paginacao.botoes.meio} 
   <li>{$smarty.session.paginacao.botoes.ultimo}</li>
</ul>  

<!--Altere daqui pra cima-->
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
<script src="/files/js/bootbox.min.js"></script>
<script src="/files/js/util.js"></script>
<script src="/files/js/bairro/bairro_lista.js"></script>


{include file="comuns/footer.tpl"}
