<h2>Padrao</h2>  

<fieldset>
    <legend>Buscar</legend>
    <input type="text" name="padrao_busca_texto" id="padrao_busca_texto" value="fa"/>
    <label>Empresa:</label>          
    <select name="busca_empresa" id="busca_empresa">
        {html_options options=$lista_empresas}
    </select>
    <input type="button" class="btn_padrao" value="buscar" 
           id="btn_padrao_buscar" 
           name="btn_padrao_buscar"
           onclick="busca_padrao()"/>
</fieldset>

<button onclick="btn_novo_padrao_click()" class="btn_padrao">Novo Padrao</button>

<table>
    <thead>
        <tr>
            <th>cod</th>
            <th>nome</th>
            <th>Ação</th>
        </tr>
    </thead>      
    <tbody>
        {include file="padrao/padrao_grid.tpl" padrao_lista=$padrao_lista}
    </tbody>      
</table>

