{include file="comuns/head.tpl"}
<div style="margin-left: 15px;margin-right: 15px;margin-top: -15px">

    <div class="row">
        <div class="col-xs-6">
            <h2>Relatório Operacional de Troca</h2>
<!--            <p>Usuário: {$usuario}, de {$data_inicio|date_format:'%d/%m/%Y - %H:%M:%I'|default:''} até {$data_fim|date_format:'%d/%m/%Y - %H:%M:%I'|default:''}, {$texto_situacao}</p>
     -->
            <hr>
        </div>
    </div>
    {if $lista}
    <div class="row">
        <div class="col-xs-2">
            <div class="form-group">
                <a href="/troca/relatoriocompletoCSV/hashcode/{$hashcode}" class="form-control btn btn-primary">Gerar arquivo CSV</a>
            </div>
        </div>
    </div>
    {/if}

     <table class="table table-hover table-striped">
        <thead>
            <tr>
                
                <th>UC</th>                
                <th>Nome</th>
                <th>Telefone</th>
                <th>Bairro</th>
                <th>Municipio</th>
                <th>Conclusao</th>                
                <th>Status</th>
                <th>Nota</th>
                <th>Geladeira Velha</th>                
                <th>Tentativa1 </th>
                <th>Motivo</th>
                <th>Obs</th>
                <th>Tentativa2 </th>
                <th>Motivo2</th>
                <th>Obs2</th>
                <th>Tentativa3 </th>
                <th>Motivo3</th>
                <th>Obs3</th>         
                           
            </tr>        
        </thead>
        <tbody>
            {foreach from=$lista item="reg"}   
            <tr>                
                <td>{$reg.UC}</td>                
                <td>{$reg.nome}</td>
                <td>{$reg.telefone}</td>
                <td>{$reg.Bairro}</td>
                <td>{$reg.Municipio}</td>
                <td>{$reg.data_conclusao|date_format:'%d/%m/%Y - %H:%M:%I'|default:''}</td>                
                <td>{$reg.Status}</td>
                <td>{$reg.nota_fiscal}</td>
                <td>{$reg.Geladeira}</td>
                <td>{$reg.Tentativa1|date_format:'%d/%m/%Y - %H:%M:%I'|default:''}</td>
                <td>{$reg.Motivo1}</td>
                <td>{$reg.Obs1}</td>
                <td>{$reg.Tentativa2|date_format:'%d/%m/%Y - %H:%M:%I'|default:''}</td>
                <td>{$reg.Motivo2}</td>
                <td>{$reg.Obs2}</td>
                <td>{$reg.Tentativa3|date_format:'%d/%m/%Y - %H:%M:%I'|default:''}</td>
                <td>{$reg.Motivo3}</td>
                <td>{$reg.Obs3}</td>
               
                             
            </tr>
            {foreachelse}
            <tr>
                <td colspan="100%">Nenhum registro encontrado.</td>
            </tr>
            {/foreach}
            <tr>
                <td colspan="100%">TOTAL : <strong>{sizeof($lista)}</strong></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>

{include file="comuns/footer.tpl"}