{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
    {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
        <!--Altere daqui pra baixo-->

<!--        <div class="panel panel-default">   -->

            <hr>      
                <h1>Lista de Trocas</h1>
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <form 
                        name="frm-busca-troca" 
                        action="/troca/busca_troca" 
                        method="POST" 
                        enctype="multipart/form-data"
                        onsubmit="return validaForm()">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label>Tipo de Busca:</label>
                                        <select class="form-control col-sm-3" id="select_filtro" name="select_filtro">
                                            {html_options options=$listaFiltros selected=$filtro|default:1}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Descrição da Busca:</label>                
                                        <input type="text" class="form-control input-group col-sm-10" id="buscamensagem" name="buscamensagem" value="{$buscamensagem|default:''}" >         
                                    </div>
                                </div>
                                
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="situacao">Cidade:</label>
                                        <select class="form-control" name="cidade" id="cidade">
                                            {html_options options=$listaMunicipio selected=$id_municipio|default:0}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="id_municipio">Status da troca:</label>
                                        <select class="form-control" name="id_troca_situacao" id="id_troca_situacao">                                
                                            {html_options options=$trocaSituacaoLista selected=$statusSelecionado}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <input type="submit" class="form-control btn btn-primary" id="buscar" value="Buscar" />
                                    </div>
                                </div>
                                {if isset($busca_flag)}
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <a href="/troca">Limpar Filtros</a>
                                    </div>
                                </div>
                                {/if}
                            </div>                     
                    </form>
                </div>
            </div>
            <div id="painel">
                <table border="1" class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID Troca</th>
                            <th>UC</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Telefone</th>
                            <th>Cidade</th>
                            <th>Bairro</th>
                            <th>UF</th>
                            {if $smarty.session.user.tipo_usuario == 1 or $smarty.session.user.tipo_usuario == 3}
                            <th>A&ccedil;&otilde;es</th>
                            {/if}
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$troca_lista item="linha"}
                        <tr>
                            {if $smarty.session.user.tipo_usuario == 1 or $smarty.session.user.tipo_usuario == 3}
                            <td><a href="/troca/nova_troca/id_troca/{$linha.id_troca}">{$linha.id_troca}</a></td>
                            {else}
                            <td>{$linha.id_troca}</td>
                            {/if}
                            {if $smarty.session.user.tipo_usuario == 1 or $smarty.session.user.tipo_usuario == 3}
                            <td><a href="/buscatroca_uc/index_action/uc/{$linha.uc}">{$linha.uc}</a></td>
                            {else}
                            <td>{$linha.uc}</td>
                            {/if}                    
                            <td>{$linha.nome}</td>
                            <td>{$linha.cpf}</td>
                            <td>{$linha.telefone}</td>
                            <td>{$linha.municipio}</td>
                            <td>{$linha.bairro}</td>
                            <td>{$linha.uf}</td>
                            {if $smarty.session.user.tipo_usuario == 1 or $smarty.session.user.tipo_usuario == 3}
                            <td> <a class="glyphicon glyphicon-pencil" href="/troca/nova_troca/id_troca/{$linha.id_troca}">Editar</a>                    
                                {/if}
                            </td>
                        </tr>
                        {foreachelse}
                        <tr>
                            <td colspan="9">NENHUM REGIRTO ENCONTRADO!</td>
                        </tr>
                        {/foreach}        
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-xs-12">
                        {$paginacao|default:''}
                    </div>
                </div>
            </div>
        <!--Altere daqui pra cima-->
    </div>
</div>

<!-- JavaScript -->
<script type="text/javascript" src="/files/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/files/js/bootstrap.js"></script>
<script type="text/javascript" src="/files/js/jquery_ui/js/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="/files/js/toastmessage/javascript/jquery.toastmessage.js"></script>
<script type="text/javascript" src="/files/js/util.js"></script>
<script src="/files/js/troca/troca_lista.js"></script>

{include file="comuns/footer.tpl"}
