<script>
  $(function() {   
   $("#tabs").tabs();       
  });
  </script> 
<div class="painel_basico">

<div class="titulos_paginas" id="parametros">
 <h2>
   <img src="/files/images/icon_tab_parametros.png" width="63" height="75" /> 
   Parâmetros</h2>
 </div>
<div id="tabs">
  <ul>    
    <li><a href="parametro/busca_empresas">Empresas</a></li>
    <li><a href="parametro/busca_departamentos">Departamentos</a></li>
    <li><a href="parametro/busca_cargos">Cargos</a></li>
    <li><a href="visitante/busca_visitante">Visitante</a></li>
    <li><a href="portaria">Portaria</a></li>
    <li><a href="#parametro/pagedebugx">Módulos</a></li>
    <li><a href="#parametro/pagedebugx">Permissões</a></li>
    <li><a href="#parametro/pagedebugx">Configuração</a></li>
  </ul>  
</div>
</div>