{include file="comuns/head.tpl"}
<div id="wrapper">
    <!-- Sidebar -->
      {include file="comuns/sidebar.tpl"}    
    <div id="page-wrapper">
      <h1>Lista de Diagnostico Tipo</h1>  
       <div class="panel panel-default">            
            <div class="panel-footer">
                <form name="frm-busca-diagnostico_tipo" action="/diagnostico_tipo/busca_diagnostico_tipo" method="POST" enctype="multipart/form-data">
                    <b>Codigo:</b>
                    <div class="input-group">
                        <input type="text" class="form-control" id="buscaid" name="buscaid" value="{$buscaid|default:''}" >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                            <br>
                            <br>
                        </span>          
                    </div>
                </form>
            </div>
        </div>
        <br>


<table class="table table-hover">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Descrição</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        {foreach from=$diagnostico_tipo_lista item="linha"}
        <tr>
            <td><a href="/diagnostico_tipo/novo_diagnostico_tipo/id_diagnostico_tipo/{$linha.id_diagnostico_tipo}">{$linha.id_diagnostico_tipo}</a></td>
            <td>{$linha.descricao}</td>
            <td> <a class="glyphicon glyphicon-pencil" href="/diagnostico_tipo/novo_diagnostico_tipo/id_diagnostico_tipo/{$linha.id_diagnostico_tipo}">Editar</a> |
                 <a class="glyphicon glyphicon-trash" href="#" onclick="confirma_excluir_item({$linha.id_diagnostico_tipo})">Excluir</a> </td>

        </tr>
        {/foreach}        
    </tbody>
</table>
          
 <a class="btn btn-primary" href="/diagnostico_tipo/novo_diagnostico_tipo">Novo Diagnostico Tipo</a>        

<!--Altere daqui pra cima-->
    </div>
</div>

<!-- JavaScript -->
<script src="/files/js/jquery-1.10.2.js"></script>
<script src="/files/js/bootstrap.js"></script>
<script src="/files/js/bootbox.min.js"></script>
<script src="/files/js/util.js"></script>
<script src="/files/js/diagnostico_tipo/diagnostico_tipo_lista.js"></script>

{include file="comuns/footer.tpl"}
